<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>KennUWare</title>

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../style/cover.css" rel="stylesheet">
	
	<script type="text/javascript">
		$(document).ready(function displayEmployees(){
			jQuery.support.cors = true;
			$.ajax(
			{
				console.log('test for displayEmployees')
				type: "GET",
				url: '/showEmployee',
				data: "{}",
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				cache: false,
				success: function (data) {
				
				var tableContent = '';
					
				$.each(data, function(){
					tableContent += '<td>' + this.email '</td>';
					tableContent += '<td>' + this.pass + '</td>';
	
				});
				
				$('displayTable').html(tableContent)
				
			});
		})
		
		
		$(function(){
			$('#displayEmployee').on('click', (function(){
			  $.ajax({
				url: '/showEmployees',
				type:'GET',
				success:function(response){
				  console.log(response);
				  var tableContent = '';
						
					$.each(data, function(){
						tableContent += '<td>' + 'test' '</td>';
						tableContent += '<td>' + 'test' + '</td>';
		
					});
					
					$('displayTable').html(tableContent)
				},
				error:function(error){
				  console.log(error);
				}
			  })
			})
		})
	</script>
	
	
  </head>

  <body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
				<ul class="nav pull-left">
					<li><a href="/" class="btn btn-lg btn-primary btn-block">KennUWare</a></li>
					<li><a href="#" class="btn btn-lg btn-default active">Sign-In</a></li>
					<li><a href="/showAddUser" class="btn btn-lg btn-default active">Add User</a></li>
				</ul>
		</div>	
	</div>
			
	<div class="container">
		<div class="jumbotron">
			<h2 class="email">Sucessfully Logged In</h2>
			<button id="displayEmployee" onclick="displayEmployees" type="button" class="btn btn-secondary">Refresh</button>
			<table id="displayTable" class="table table-bordered">
				<tr>
					<th>Email</th>
					<th>Password</th>
				</tr>
			</table>
			<div id="displayDiv"></div>
		</div>
	</div>
	
  </body>
</html>
